:root{
    --color-primary: green;
    --bg-dark: #141414;
    --text-color: #fff;
    --btn-color: #95ff00;
    --header-bg: rgba(0,0,0,0.8);
    --linear-bg: linear-gradient(to right, aqua, purple);
}

.logo:hover{
    letter-spacing: 10px;
    animation: acender 0.5 forwards;
}
@keyframes acender {
    to{
        color:var(--text-color);
        text-shadow: 0 0 10px #32f323, 0 0 20px #a8dfe1;
    }
}